container_commands:
    01_change_mode_of_hooks_file:
        command: chmod +x .platform/hooks/predeploy/*.sh
option_settings:
    "aws:elasticbeanstalk:application:environment":
        DJANGO_SETTINGS_MODULE: "fc.settings"
        "PYTHONPATH": "/var/app/current:$PYTHONPATH"
    "aws:elasticbeanstalk:container:python":
        WSGIPath: fc.wsgi:application
        NumProcesses: 3
        NumThreads: 20
    aws:elasticbeanstalk:environment:proxy:staticfiles:
      /static: www-static/
