packages:
  yum:
    mariadb-devel: []

commands:
  01_enable_mysql:
    command: "amazon-linux-extras install -y mariadb10.5"
    ignoreErrors: true

container_commands:
  01_set_mysqlclient_cflags:
    command: "export MYSQLCLIENT_CFLAGS=$(mysql_config --cflags)"
  02_set_mysqlclient_ldflags:
    command: "export MYSQLCLIENT_LDFLAGS=$(mysql_config --libs)"
