<!DOCTYPE html>
{% load static %}
{% load tags %}

<html lang="en">

<head>
  <title>{% get_content "site_title" "Grandview FC - Where Soccer is for everyone"%}</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

<link href="http://fonts.cdnfonts.com/css/bookman-old-style" rel="stylesheet">

  <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap" rel="stylesheet">

  <link rel="stylesheet" href="{% static 'web/fonts/icomoon/style.css'%}">

  <link rel="stylesheet" href="{% static 'web/css/bootstrap/bootstrap.css'%}">
  <link rel="stylesheet" href="{% static 'web/css/jquery-ui.css'%}">
  <link rel="stylesheet" href="{% static 'web/css/owl.carousel.min.css'%}">
  <link rel="stylesheet" href="{% static 'web/css/owl.theme.default.min.css'%}">
  <link rel="stylesheet" href="{% static 'web/css/owl.theme.default.min.css'%}">

  <link rel="stylesheet" href="{% static 'web/css/jquery.fancybox.min.css'%}">

  <link rel="stylesheet" href="{% static 'web/css/bootstrap-datepicker.css'%}">

  <link rel="stylesheet" href="{% static 'web/fonts/flaticon/font/flaticon.css'%}">

  <link rel="stylesheet" href="{% static 'web/css/aos.css'%}">

  <link rel="stylesheet" href="{% static 'web/css/style.css'%}">

  <link rel="icon" href="{% static '/web/images/favicon.ico'%}" type="image/x-icon">

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" />

</head>

<body>
<a id="top"></a>
  <div class="site-wrap">

    <div class="site-mobile-menu site-navbar-target">
      <div class="site-mobile-menu-header">
        <div class="site-mobile-menu-close">
          <span class="icon-close2 js-menu-toggle"></span>
        </div>
      </div>
      <div class="site-mobile-menu-body"></div>
    </div>


    <header class="site-navbar py-4" role="banner">

      <div class="container">
        <div class="d-flex align-items-center">
          <div class="site-logo">
            <a href="#top">
<img src="{% static 'web/images/soccer-logo.png'%}" alt="Soccer Ball" class="img-fluid"> Grandview FC
            </a>
          </div>
          <div class="ml-auto">
            <nav class="site-navigation position-relative text-right" role="navigation">
              <ul class="site-menu main-menu js-clone-nav mr-auto d-none d-lg-block">
                <li class="active"><a href="#top" class="nav-link scrollLink">Home</a></li>
                <li><a href="#sponsors" class="nav-link scrollLink">Sponsors</a></li>

                <li><a href="#contact" class="nav-link scrollLink">Contact</a></li>
              </ul>
            </nav>

            <a href="#" class="d-inline-block d-lg-none site-menu-toggle js-menu-toggle text-black float-right text-white"><span
                class="icon-menu h3 text-white"></span></a>
          </div>
        </div>
      </div>

    </header>

    <div class="hero overlay" style="background-image: url('{% static 'web/images/bg_3.jpg'%}');">
      <div class="container">
        <div class="row align-items-center">

          <div class="col-lg-5 ml-auto">
            <h1>{% get_content "headline" "Grandview FC, where Soccer is for everyone." %}</h1>>
            <h2>{% get_content "vision" "Our vision is to provide the residents of Grandview and the surrounding communities with an accessible and enjoyable opportunity to participate in an organized and competitive youth soccer program." %}</h2>
<!--            <div id="date-countdown"></div>-->
<!--            <p>-->
<!--              <a href="#" class="btn btn-primary py-3 px-4 mr-3">Book Ticket</a>-->
<!--              <a href="#" class="more light">Learn More</a>-->
<!--            </p>  -->

          </div>
        </div>
      </div>
    </div>



    <div class="container">


      <div class="row">
        <div class="col-lg-12">

          <div class="d-flex team-vs align-items-center justify-content-center">

            <div class="team-1 d-none d-sm-block">
                          <img src="{% static 'web/images/grandview_fc_crest.png'%}" alt="Image" class="img-fluid">

            </div>
            <div class="team-1">
              <h2>{% get_content "we_believe_headline" "Grandview FC is for everyone."%}</h2><br/>
              <h3>{% get_content "we_believe" "Playing soccer should be an accessible opportunity for every school age resident in our community. <br/><br/>Everyday, we work to organize and promote youth soccer in our community to actively engage and encourage healthy competition, positive relationships, and fun physical activity for school-aged residents. <br/><br/>Because participation in youth sports can be an overwhelming and arduous process, we work to make the sport of soccer an activity that is enjoyable while also bringing our neighborhood together."%} </h3>
              <br/>

            </div>
          </div>
        </div>
      </div>
    </div>


  <a id="sponsors"></a>
    <div class="container site-section">
      <div class="row">
        <div class="col-6 title-section">
          <h2 class="heading">Sponsors</h2>
        </div>
      </div>

   {% if sponsor_list %}
                <div class="row">
    {% for sponsor in sponsor_list %}
        <div class="col-lg-6 mb-3">
          <div class="custom-media d-flex">
            <div class="img mr-4">
              <img src="{{ sponsor.logo.url }}" alt="{{ sponsor.name }} Logo" class="img-fluid">
            </div>
            <div class="text">
              <h1 class="mb-4"><a href="#" class="text-light">{{ sponsor.name }} </a></h1>
              <p>{{ sponsor.description }} </p>
              <h3 class="mb-4"><a href="{{ sponsor.link }}" target="_new"  class="text-light">Learn More</a></h3>
            </div>
          </div>
        </div>

    {% endfor %}
                </div>

  {% else %}
    <p>There are no sponsors at the moment.  Join our mailing list and be the first to know.</p>
  {% endif %}
      <p class="text-center">
      <a href='mailto:{% get_content "email" "info@grandviewfc.org"%}' class="text-light  btn btn-warning">{% get_content "sponsor_appeal" "Contact Grandview FC and become a sponsor today!" %}</a>
      </p>
    </div>





<a id="contact"></a>

    <footer class="footer-section">
      <div class="container">
        <div class="row">
          <div class="col-lg-3">
            <div class="widget mb-3">
              <h3>News</h3>
              <ul class="list-unstyled links">
                <li><a href="#top" class="scrollLink">Home</a></li>
                <li><a href="#sponsors" class="scrollLink">Sponsors</a></li>
                <li><a href="#news" class="scrollLink">Club News</a></li>
                <li><a href="#contact" class="scrollLink">Contact</a></li>
              </ul>
            </div>
          </div>


          <div class="col-lg-3">
            <div class="widget mb-3">
              <h3>Social</h3>
              <ul class="list-unstyled links">
                <li><a href="#">Facebook</a></li>
                <li><a href="https://www.instagram.com/explore/tags/grandviewfc/">Instagram</a></li>
              </ul>
            </div>
          </div>

          <div class="col-lg-6">
            <div class="widget mb-3">
              <h3>Contact</h3>
              <p class="text-light">{% get_content "address_name" "John Smith"%}
              <br/>{% get_content "address_street" "1150 Main St."%}
              <br/>{% get_content "address_city_state_post" "Grandview Heights, Ohio 43212"%}
               <br/><a href='tel:{% get_content "phone" "614-555-1212"%}' class="text-light">{% get_content "phone" "614-555-1212"%}</a>

               <br/><a href='mailto:{% get_content "email" "info@grandviewfc.org"%}' class="text-light">{% get_content "email" "info@grandviewfc.org"%}</a>

              </p>

            </div>
          </div>
        </div>




        <div class="row text-center">
          <div class="col-md-12">
            <div class=" pt-5">
              <p>
                <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                Copyright &copy;
                <script>
                  document.write(new Date().getFullYear());
                </script> Grandview FC
              </p>
            </div>
          </div>

        </div>
      </div>
    </footer>



  </div>
  <!-- .site-wrap -->

  <script src="{% static 'web/js/jquery-3.3.1.min.js'%}"></script>
  <script src="{% static 'web/js/jquery-migrate-3.0.1.min.js'%}"></script>
  <script src="{% static 'web/js/jquery-ui.js'%}"></script>
  <script src="{% static 'web/js/popper.min.js'%}"></script>
  <script src="{% static 'web/js/bootstrap.min.js'%}"></script>
  <script src="{% static 'web/js/owl.carousel.min.js'%}"></script>
  <script src="{% static 'web/js/jquery.stellar.min.js'%}"></script>
  <script src="{% static 'web/js/jquery.countdown.min.js'%}"></script>
  <script src="{% static 'web/js/bootstrap-datepicker.min.js'%}"></script>
  <script src="{% static 'web/js/jquery.easing.1.3.js'%}"></script>
  <script src="{% static 'web/js/aos.js'%}"></script>
  <script src="{% static 'web/js/jquery.fancybox.min.js'%}"></script>
  <script src="{% static 'web/js/jquery.sticky.js'%}"></script>
  <script src="{% static 'web/js/jquery.mb.YTPlayer.min.js'%}"></script>

  <script src="{% static 'web/js/main.js'%}"></script>
    <script>
      $(document).ready(function() {
          $("a.scrollLink").click(function(event) {
              event.preventDefault();
              $("html, body").animate({
                  scrollTop: $($(this).attr("href")).offset().top
                }, 500);
            });
        });
    </script>
</body>

</html>
